nav ul li a:hover,
.contact-head-info > a,
.banner-content > h2 span,
.lnk-default2,
.lnk-default2:hover,
.p-num,
.rating li,
.blog-title a:hover,
.contact-head-info > a:hover,
nav ul li a.active,
.award-col > h2,
.wid-post-info > h3:hover,
.wid-post-info > h3:hover a,
.arch-list li a:hover,
.tags_list li a:hover,
.pagination-mint .page-link:hover,
input#amount,
.view-details:hover,
.shop-info > h3:hover a,
.add-cart,
.cart-btn-circle,
.catg-controls li a:hover,
.social-links.without-bg li a,
.option-set li a.selected {
	color:var(--brand-primary-color);
}

.responsive-mobile-menu,
.lnk-default,
.banner-slide:before,
.play-btn,
.sub-title:before,
.team-head,
.slick-prev:hover,
.slick-next:hover,
.slick-dots li.slick-active button,
.category,
.cart-number,
.banner-slider .slick-prev:hover,
.banner-slider .slick-next:hover,
nav ul ul,
.pger-imgs:before,
.dott,
.paginated li a:hover,
.widget-search form button,
.tags-list li a:hover,
.ui-slider-horizontal .ui-slider-range,
.add-to-cart:hover,
.status,
input:checked + .slider,
.btn-default,
.cart-btn-circle:hover,
.contact_info,
.search-close-btn:hover,
.thecube .cube:before,
.failed,
footer,
.text-info {
	background-color: var(--brand-primary-color);
 }

.proz-mint:after,
.dott:before,
.ui-slider-horizontal .ui-slider-handle,
.form-control:focus {
	border-color: var(--brand-primary-color);
}

